/*
#asgList {
    padding: 100px;
}

#assignemt_List h1{
    text-align: center;
    color: aqua;
    font-size: 100px;

}
#asgList div h2{
    color: lightblue;
    font-size: 29px;
}

.btn{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #474b4b;
    border: 2px solid transparent;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 255, 255, 0.1);
    margin-bottom: 10px;

}
.btn:hover{
    background-color: #887877;
    color: white;
    border-color: #758788;
    box-shadow: 0 6px 8px rgba(0, 255, 229, 0.15);
    transform: translateY(-2px);
}
!*#assignemt_List div div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 3px 5px 0px rgb(95, 96, 96);
    border-radius: 30px;
    max-width: 210px;
    min-width: 180px;
    min-height: 300px;
    max-height: 400px;
    margin: 50px;
    align-items: center;
}*!

#preview{
    margin-top: 70px;
}
.ka{
 display: flex;
    text-align: center;

    padding: 20px;
    box-shadow: 0px 3px 5px 0px rgb(95, 96, 96);
    border-radius: 30px;
    max-width: 210px;
    min-width: 180px;
    min-height: 300px;
    max-height: 600px;
    margin: 20px;
    transition:  0.3s ease;

}

.ka:hover{
    background-color: #100f0f;
    color: white;
    box-shadow: 0px 8px 15px 0px rgb(26, 84, 84);
    transform: translateY(-3px);
}

!*#asgList>div{

    transition:  0.3s ease;

}*!

#asgList>div:hover{
    background-color: #100f0f;
    color: white;
    box-shadow: 0px 8px 15px 0px rgb(26, 84, 84);
    transform: translateY(-3px);
}


#buttondiv{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

 #asgList div p{
    text-align: center;
     box-shadow: 0px 1px 0px 0px rgb(95, 96, 96);
     border-radius: 20px;
     padding: 10px;
 }

 #asgList div a i {
 padding: 15px;
     margin-left: 150px;
     color: white;
     font-size: 30px;}

#assignemt_List div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


@media all and (max-width: 768px) {
    #asgList {
        padding: 50px;
    }
    #assignemt_List h1{
        font-size: 80px;
    }

}


@media all and (max-width: 435px) {
    #assignemt_List h1{
        font-size: 50px;
    }
}

*/
