footer {
    background-color: #2a2a2e;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

#branding {
    max-width: 500px;
    min-width: 400px;
}

#branding h1{
    letter-spacing: 3px;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    color: aqua;

}
#branding h1 span{
    font-family: "Sofia", sans-serif;
    font-size: 70px;
    color: black;
    margin: 0;
}

#branding p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.8;
}

#contact-info {
    text-align: right;
}

#contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    background: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
    background-color: #fff;
    color: #000;
}

#footer-nav {
    text-align: center;
    margin-top: 30px;
}

#footer-nav ul {
    list-style: none;
    padding: 0;
}

#footer-nav ul li {
    display: inline;
    margin: 0 15px;
}

#footer-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

#footer-nav ul li a:hover {
    color: #00aaff;
}

#footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #888;
}

#footer-bottom p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footericons a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00aaff;
}
