#gallery{
    text-align: center;
    align-items: center;
}

#gallery>h2{
    color: aqua;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 150px;
    box-shadow: 0px 3px 1px 0px rgb(95, 96, 96);

}

#gallery>section{
    background: #141414;
    box-shadow: 0px 5px 5px 5px rgb(95, 96, 96);
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;

}

#gallery>section>div{
    padding: 75px;
    display: grid;
   grid-template-columns:  repeat(2 , 2fr);
    row-gap: 50px;

}

#gallery>section>div>img{
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 300px;
    box-shadow: 0px 5px 5px 5px rgb(95, 96, 96);
    border-radius: 30px;
max-width: 370px;
    max-height: 300px;
}

