


#hero {
    margin-top: 75px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 9fr 2fr 1fr;
}

#hero>section:first-child>div>h1 {
    margin-top: -50px;
    margin-left: -300px;
    grid-column: 1/1;
    font-weight: bold;
    font-style: italic;
    font-size: 120px;
    color: white;

}

#hero>section:first-child>div>h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
    margin-left: 95px;
    margin-top: -89px;
}
#hero>section:first-child>div>h2>span{
    font-family: "Sofia", sans-serif;
    color: aqua;
}

#hero>section:first-child>div>h3{
    margin-left: -30px;
    font-weight: bold;
    font-size: 80px;
    color: lightblue;
}

#hero>section:nth-child(2)>img {

    margin-top: 50px;
}

#hero>section:nth-child(3)>ol>li>i{
    background: white;
}

#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-icons {
    list-style: none;
    display: flex;
flex-direction: column;
    margin-top: 100px;

}

.social-icons li {
    margin: 15px 0;

}

.social-icons a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #FFD700;
}


/*#welcome>div>h3{
    margin-left: -300px;
    color: white;
    font-size: 200px;
    margin-top: -100px;

}*/
